<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %class{36} - %msg%n</Pattern>
            </PatternLayout>
        </Console>
        <File name="File" fileName="target/logs/github-automation.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %class{36} - %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>